
@{    
    ViewData["Title"] = "Home Page";
}
<div class="content" style="margin-top: 40px;">
    <div class="row">
        <div class="col-6">
            <img class="p1-5" src="~/image/Logo.jpg" width="400" height="400" />
        </div>
        <div class="col-6" style="text-align: left; margin-top: 20px;">
            <h1>店名</h1>
            <p>地址:334桃園市八德區長興路46號</p>
            <p>電話:01-123-4567</p>
            <p>Email:A123@it.com.tw</p>
            <p>
                營業時間:<br>
                星期一　休息<br>
                星期二　17:00–00:00<br>
                星期三　休息<br>
                星期四　休息<br>
                星期五　17:00–00:00<br>
                星期六　17:00–00:00<br>
                星期日　17:00–00:00
            </p>
        </div>
    </div>
</div>
<hr />
<p></p>
<hr />
<p></p>
<div style="text-align: center; margin-top: 20px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5116.650429255726!2d121.2799935905232!3d24.93144937333471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346818d244871887%3A0x9d0d0f31db9a6d14!2z5YWr5b636IiI5LuB6Iqx5ZyS5aSc5biC!5e0!3m2!1szh-TW!2stw!4v1734357288664!5m2!1szh-TW!2stw"
            width="600"
            height="450"
            style="border:0; display: block; margin: 0 auto;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
